<?xml version="1.0" encoding="UTF-8"?>
<phpunit beStrictAboutOutputDuringTests="true"
         failOnWarning="true"
         colors="true"
         bootstrap="Tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="unit">
            <directory>Tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
